/* Background colours */
.header, .footer, .dark
{
    background-color: #1F2937;
}

.attention, .button1
{
    background-color: #3882F6;
}

.quote
{
    background-color: #E5E7EB;
}

/* Text colours */
.header, .footer, .dark
{
    color: #F9FAF8;
}

.header .secondaryText, .dark .secondaryText
{
    color: #E5E7EB;
}

.attention, .button1, .button2
{
    color: #F9FAF8;
}

.quote, .light
{
    color: #1F2937;
}

/* Formatting */

.vertical
{
    display: flex;
    flex-direction: column;
}

.horizontal, .header, .footer
{
    display: flex;
    align-items: center;
    justify-content: center;
}