/* Background colours */
.header, .footer, .dark
{
    background-color: #1F2937;
}

.attention, .button1
{
    background-color: #3882F6;
}

.quote
{
    background-color: #E5E7EB;
}

.button2
{
    border-color: #E5E7EB;
}

/* Text colours */
.header, .footer, .dark
{
    color: #F9FAF8;
}

.header .secondaryText, .dark .secondaryText
{
    color: #E5E7EB;
}

.attention, .button1, .button2
{
    color: #F9FAF8;
}

.quote, .light
{
    color: #1F2937;
}

/* Formatting */

*
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    text-decoration: underline;
}

.vertical, .verticalPage, .header
{
    display: flex;
    flex-direction: column;
}

.horizontal, .footer, .attention
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.verticalPage
{
    height: 100vh;
    justify-content: space-between;
}

.header, .horizontal.dark, .vertical.light, .vertical.quote, .horizontal.light, .footer
{
    flex-grow: 1;
}

.verticalPage .header
{
    padding-bottom: 20px;
}

.button1
{
    border-radius: 10px;
    align-self: flex-start;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.horizontal.leftRightPadding
{
    padding-left: 10%;
    padding-right: 10%;
}

.horizontal.leftRightPadding.spaceBetween
{
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 120px;
}

.horizontal.gaps
{
    gap: 20px;
}

.horizontal.leftRightPadding.gaps
{
    gap: 30px;
    padding-bottom: 20px;
}

.horizontal.leftRightPadding.gaps .vertical
{
    gap: 10px;
}

.vertical.light
{
    align-items: center;
}

.card
{
    width: 100px;
    display: flex;
}

img
{
    max-width: 100%;
}

.vertical.quote
{
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
}

.attention
{   
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
    gap: 20px;
}

.button2
{
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
}